// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import '../js/libs/OwlCarousel/owl.carousel.min.css'
@import '../js/libs/OwlCarousel/owl.theme.default.min.css'
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff2')


@include font('nunito', normal, 300, '../fonts/nunito-v12-latin_cyrillic-300.woff2')
@include font('nunito', normal, 400, '../fonts/nunito-v12-latin_cyrillic-regular.woff2')
@include font('nunito', normal, 500, '../fonts/nunito-v12-latin_cyrillic-600.woff2')

@include font('opensans', normal, 400, '../fonts/open-sans-v17-latin_cyrillic-regular.woff2')
@include font('opensans', normal, 500, '../fonts/open-sans-v17-latin_cyrillic-600.woff2')

@include font('ubuntu', italic, 500, '../fonts/ubuntu-v14-cyrillic-700italic.woff2')


// Mixins
@mixin reset-link
	color: inherit
	text-decoration: none
	&:hover
		color: inherit
		text-decoration: none
	&:focus
		outline: none

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $textfamily
	overflow-x: hidden
	color: $textcolor

html
	height: 100%
body
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100%

.header
	flex: none
.content
	flex-grow: 1
.footer
	flex: none

a
	@include reset-link

ul
	list-style: none
	padding: 0
	margin: 0

